<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - mstc</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Microsoft Technical Community - Vellore">
    <meta name="keywords" content="MSTC Vellore Microsoft">
    <meta name="author" content="Pratik Khandelwal">
    <!-- Meta additions -->
    <!-- Stylesheet requirements -->
    <!-- Visit the CDN documentation to learn about versions. -->
    <link rel="stylesheet"
          href="//assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.26.0/css/mwf-west-european-default.min.css">

    <script src="http://getmwf.com/local/scripts/app.js" async=""></script>

    <!-- Stylesheet additions -->
    <!-- Include as a single optimized css file on CDN. -->
    <!-- ... -->


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Accessibility requirement -->
    <a class="m-skip-to-main" href="#mainContent" tabindex="0">Skip to main content</a>

    <!-- Universal header -->
    <!-- Main page content should be wrapped with semantically meaningful html elements (e.g.: article, main) whenever possible. A div element can be used as long as it also contains a role="main" for Accessibility. -->
    <main id="mainContent">
        <!-- Modules should be stacked with a sibling relationship in order to programmatically adjust their position, margins, and padding. -->
        <div class="m-immersive-hero">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-page="/Index" class="navbar-left"><img src="~/images/msft.png" height="50" /></a>

                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#mainContent">Home</a></li>
                            <li><a href="#Team">Team</a></li>
                            <li><a href="#Events">Events</a></li>
                            <li><a href="#Contact">Contact</a></li>
                        </ul>
                        @*@await Html.PartialAsync("_LoginPartial")*@
                    </div>

                </div>
            </nav>
            <div class="body-content">
                @RenderBody()
                <hr />
            </div>
        </div>

    </main>

    <div data-grid="col-12" class="m-rich-content-block">
        <footer style="text-align:center">
            <p>&copy; 2017 - Microsoft Technical Community - Vellore</p>
        </footer>
    </div>
    >






    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    <!-- JavaScript requirements -->
    <!-- Include before </body>. Use the script file based on preference (UMD, AMD, CommonJS, Auto, etc.) -->
    <script async="async"
            src="//assets.onestore.ms/cdnfiles/external/mwf/short/v1/latest/scripts/mwf-auto-init-main.var.min.js"></script>
    <noscript></noscript>

    <!-- JavaScript dependencies -->
    <!-- ... -->
    <!-- JavaScript additions -->
    <!-- ... -->
    @RenderSection("Scripts", required: false)
</body>
</html>
