@page
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <!--Landing Page-->
    <div class="container-fluid" id="section1">
        <div class="row text-white d-flex justify-content-center">
            <p class="text-center landtext">Student Technical</p>
        </div>
        <div class="row text-white d-flex justify-content-center">
            <p class="text-center landtext">Community</p>
        </div>
        <div class="row text-white d-flex justify-content-center">
            <p class="text-center landtext"><b>VIT VELLORE</b></p>
        </div>
    </div>
    <!--About US-->
    <div class="container-fluid" id="aboutus">
        <div class="row text-center">
           <p class="heading">About Us </p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="offset-lg-1 col-lg-3 hidden-sm hidden-xs hidden-md">
                <img class="align-self-center" srcset="https://dummyimage.com/200x200/000/fff.jpg" />
            </div>
        </div>
    </div>
    <!--Our Events-->
    <div class="container-fluid" id="ourevents">
        <div class="row">

        </div>
    </div>
    <!--Get in touch-->
    <div class="container-fluid" id="blackbar">
        <div class="row">

        </div>
    </div>
    <!--Our Team-->
    <div class="container-fluid" id="ourteam">
        <div class="row">

        </div>
    </div>
    <!--Our Blog-->
    <div class="container-fluid" id="ourblog">
        <div class="row">

        </div>
    </div>
</div>