@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="m-hero">
    <div class="c-carousel f-multi-slide f-auto-play" role="region" aria-label="Label" data-js-interval="6000">
        <div class="c-group">
            <div class="c-sequence-indicator" role="tablist">
                <button role="tab" aria-selected="true" aria-label="View x-align left" aria-controls="x-align-left" title="x-align-left"></button>
                <button role="tab" aria-selected="false" aria-label="View x-align center" aria-controls="x-align-center" title="x-align-center"></button>
                <button role="tab" aria-selected="false" aria-label="View x-align right" aria-controls="x-align-right" title="x-align-right"></button>
                <button role="tab" aria-selected="false" aria-label="View y-align top" aria-controls="y-align-top" title="y-align-top"></button>
                <button role="tab" aria-selected="false" aria-label="View y-align center" aria-controls="y-align-center" title="y-align-center"></button>
                <button role="tab" aria-selected="false" aria-label="View y-align bottom" aria-controls="y-align-bottom" title="y-align-bottom"></button>
            </div>
            <button class="c-action-toggle c-glyph glyph-play f-toggle" data-toggled-label="Pause" data-toggled-glyph="glyph-pause" aria-label="Play"></button>
        </div>
        <button class="c-flipper f-previous" aria-hidden="true" tabindex="-1"></button>
        <button class="c-flipper f-next" aria-hidden="true" tabindex="-1"></button>
        <div itemscope itemtype="http://schema.org/ItemList">
            <ul>
                <li id="x-align-left" data-f-theme="dark" class="f-active" role="tabpanel">
                    <section class="m-hero-item f-x-left f-y-top context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">x-align-left</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li id="x-align-center" data-f-theme="dark" role="tabpanel">
                    <section class="m-hero-item f-x-center f-y-top context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">x-align-center</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li id="x-align-right" data-f-theme="dark" role="tabpanel">
                    <section class="m-hero-item f-x-right f-y-top context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">x-align-right</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li id="y-align-top" data-f-theme="dark" role="tabpanel">
                    <section class="m-hero-item f-x-left f-y-top context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">y-align-top</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li id="y-align-center" data-f-theme="dark" role="tabpanel">
                    <section class="m-hero-item f-x-left f-y-center context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">y-align-center</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li id="y-align-bottom" data-f-theme="dark" role="tabpanel">
                    <section class="m-hero-item f-x-left f-y-bottom context-accessory theme-dark" itemscope itemtype="http://schema.org/Product">
                        <picture>
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                            <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                            <source srcset="http://placehold.it/1259x472" media="(min-width: 1084px)">
                            <source srcset="http://placehold.it/1083x609" media="(min-width:768px)">
                            <source srcset="http://placehold.it/767x431" media="(min-width:540px)">
                            <source srcset="http://placehold.it/539x303" media="(min-width:0)">
                            <img srcset="http://placehold.it/1259x472" src="http://placehold.it/1259x472" alt="Placeholder with grey background and dimension watermark without any imagery">
                        </picture>
                        <div>
                            <div>
                                <h1 class="c-heading">y-align-bottom</h1>
                                <p class="c-subheading">Subheading</p>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span>$</span>
                                    <span itemprop="price">100</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div>
                                    <a href="#" class="c-call-to-action c-glyph">
                                        <span>CALL TO ACTION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</div>


