@page
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <!--Landing Page-->
    <div class="row" id="section1">
        <div class="col-12 align-self-end">
            <p class="text-center">Microsoft</p>
        </div>
        <div class="col-12 align-self-center">
            <p class="text-center">Student Technical Community</p>
        </div>
        <div class="col-12">
            <p class="text-center">VIT VELLORE</p>
        </div>
    </div>
    <!--About US-->
    <div class="row" id="aboutus">
        <div class="col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-12">
                    <p class="text-center heading">
                        ABOUT US
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="offset-lg-1 col-lg-3 d-{xs,sm}-none">
            <img src="https://dummyimage.com/250x250/000/fff" />
        </div>
    </div>
    <!--Our Events-->
    <div class="container-fluid" id="ourevents">
        <div class="row">
            <div class="col-12">
                <p class="text-center heading-inverse">
                    OUR EVENTS
                </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style="height:50vh; width:96vw; background-color:red;"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Get in touch-->
    <div class="row align-items-center" style="background-color:black;">
        <div class="offset-1  col-8">
            <p class="blackbar">Interested in working together?</p>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-light btn-lg" id="barbtn">Get in touch</button>
        </div>
    </div>
    <!--Our Team-->
    <div class="container-fluid" id="ourteam">
        <div class="row">

        </div>
    </div>
    <!--Our Blog-->
    <div class="container-fluid" id="ourblog">
        <div class="row">

        </div>
    </div>
</div>