@page
@{
    ViewData["Title"] = "Home page";
}

<!--Landing Page-->
<div class="container-fluid">
    <div class="container" id="section1">
        <div class="row text-white">
            <p class="text-center">Student Technical</p>
        </div>
        <div class="row text-white">
            <p class="text-center">Community</p>
        </div>
        <div class="row text-white">
            <p class="text-center"><b>VIT VELLORE</b></p>
        </div>
    </div>
</div>