@page
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <!--Landing Page-->
    <div class="row" id="section1">
        <div class="col-12 align-self-end foo">
            <p class="text-center">Microsoft</p>
        </div>
        <div class="col-12 align-self-center foo">
            <p class="text-center">Student Technical Community</p>
        </div>
        <div class="col-12 foo">
            <p class="text-center">VIT VELLORE</p>
        </div>
    </div>
    <!--About US-->
    <div class="row bar">
        <div class="col-12">
            <div class="row light-section" style="height: 50vh;">
                <div class="col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center heading">
                                ABOUT US
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 d-none d-lg-block d-xl-block">
                    <img src="https://dummyimage.com/250x250/000/fff" />
                </div>
            </div>  
        </div>
    </div>
    <!--Our Events-->
    <div class="container-fluid" id="ourevents">
        <div class="row bar">
            <div class="col-12">
                <p class="text-center heading-inverse">
                    OUR EVENTS
                </p>
            </div>
            <!-- crazyaccordian -->
            <div class="row">
                <div class="col-12">
                     <div class="accordion">
                         <ul>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 1</h2>
                                         <p>Description 1</p>
                                     </a>
                                 </div>
                             </li>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 2</h2>
                                         <p>Description 2</p>
                                     </a>
                                 </div>
                             </li>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 3</h2>
                                         <p>Description 3</p>
                                     </a>
                                 </div>
                             </li>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 4</h2>
                                         <p>Description 4</p>
                                     </a>
                                 </div>
                             </li>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 5</h2>
                                         <p>Description 5</p>
                                     </a>
                                 </div>
                             </li>
                             <li>
                                 <div>
                                     <a href="#">
                                         <h2>Title 6</h2>
                                         <p>Description 6</p>
                                     </a>
                                 </div>
                             </li>
                         </ul>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Get in touch-->
    <div class="row align-items-center bar" style="background-color:black;">
        <div class="offset-lg-1  col-lg-8 col-md-12 col-sm-12">
            <p class="blackbar">Interested in working together?</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <button type="button" class="btn btn-outline-light btn-lg" id="barbtn">Get in touch</button>
        </div>
    </div>
    <!--Our Team-->
    <div class="row light-section bar" style="height:70vh;">
        <div class="col-12 heading">
            <p class="text-center">OUR TEAM</p>
        </div>
        <!-- theslider -->
        <div class="col-12">
            <p class="text-center"><h1>SOME KIND OF SLIDER HERE</h1></p>
        </div>
    </div>
    <!--Our Blog-->
    <div class="row bar">
        <div class="col-12">
            <p class="text-center heading-inverse">
                OUR BLOG
            </p>
        </div>
    </div>
    <div class="row bar">

        <div class="card-deck">

            <!--Will use fetched data here instead of for-loop in prod-->
            <!--Can also create a similar data template for teams section which gets data from a View-Model-->
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://dummyimage.com/250x250/000/fff">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-outline-light btn-lg" id="blogbtn">See more</button>
        </div>
    </div>
</div>