@page
@{
    ViewData["Title"] = "Home page";
}

<div class="m-immersive-hero">
    <div class="c-carousel f-multi-slide f-auto-play" role="region" aria-label="Label">
        <div class="c-sequence-indicator" role="tablist">
            <button role="tab" aria-selected="true" aria-label="View default align top" aria-controls="default-align-top" title="default-align-top"></button>
            <button role="tab" aria-selected="false" aria-label="View default align bottom" aria-controls="default-align-bottom" title="default-align-bottom"></button>
            <button class="c-action-toggle c-glyph glyph-play f-toggle" data-toggled-label="Pause" data-toggled-glyph="glyph-pause" aria-label="Play" hidden="hidden"></button>
        </div>
        <button class="c-flipper f-previous f-large" aria-hidden="true" tabindex="-1"></button>
        <button class="c-flipper f-next f-large" aria-hidden="true" tabindex="-1"></button>
        <div itemscope itemtype="http://schema.org/ItemList">
            <ul>
                <li id="default-align-bottom" data-f-theme="light">
                    <section class="m-immersive-hero-item theme-light f-align-bottom">
                        <picture class="c-image">
                            <source srcset="~/images/back.png" media="(min-width: 1779px)">
                            <source srcset="~/images/back.png" media="(min-width:1400px)">
                            <source srcset="~/images/back.png" media="(min-width:1084px)">
                            <source srcset="~/images/back.png" media="(min-width:768px)">
                            <source srcset="~/images/back.png" media="(min-width:540px)">
                            <source srcset="~/images/back.png" media="(min-width:0)">
                            <img srcset="~/images/back.png" src="~/images/back.png" alt="Microsoft Technical Community">
                        </picture>
                        <div>
                            <picture class="c-image f-mask-80">
                                <source srcset="~/images/logoms.png" media="(min-width: 1779px)">
                                <source srcset="~/images/logoms.png" media="(min-width:1400px)">
                                <source srcset="~/images/logoms.png" media="(min-width:1084px)">
                                <source srcset="~/images/logoms.png" media="(min-width:768px)">
                                <source srcset="~/images/logoms.png" media="(min-width:540px)">
                                <source srcset="~/images/logoms.png" media="(min-width:0)">
                                <img srcset="~/images/logoms.png" src="~/images/logoms.png" alt="Microsoft image">
                            </picture>
                            <div>
                                <h1 class="c-heading">Microsoft Technical Community</h1>
                                <p class="c-subheading">We welcome you to Innovation, the word & the act 🐱‍👤</p>
                                <a href="#" class="c-call-to-action c-glyph" aria-label="More verbose call to action text">
                                    <span>Know More</span>
                                </a>
                            </div>
                        </div>
                    </section>
                </li>

                <li id="default-align-bottom" data-f-theme="light">
                    <section class="m-immersive-hero-item theme-light f-align-bottom">
                        <picture class="c-image">
                            <source srcset="~/images/back.png" media="(min-width: 1779px)">
                            <source srcset="~/images/back.png" media="(min-width:1400px)">
                            <source srcset="~/images/back.png" media="(min-width:1084px)">
                            <source srcset="~/images/back.png" media="(min-width:768px)">
                            <source srcset="~/images/back.png" media="(min-width:540px)">
                            <source srcset="~/images/back.png" media="(min-width:0)">
                            <img srcset="~/images/back.png" src="~/images/back.png" alt="Microsoft Technical Community">
                        </picture>
                        <div>
                            <picture class="c-image">
                                <source srcset="~/images/holo.png" media="(min-width:1779px)">
                                <source srcset="~/images/holo.png" media="(min-width:1084px)">
                                <source srcset="~/images/holo.png" media="(min-width:768px)">
                                <source srcset="~/images/holo.png" media="(min-width:540px)">
                                <source srcset="~/images/holo.png" media="(min-width:0)">
                                <img srcset="~/images/holo.png" src="~/images/holo.png" alt="Microsoft Technical Community">
                            </picture>
                            <div>
                                <h1 class="c-heading">
                                    Have innovative ideas?
                                </h1>
                                <p class="c-subheading">Do projects with Microsoft Innovation Center</p>
                                <a href="#" class="c-call-to-action c-glyph" aria-label="More verbose call to action text">
                                    <span>Project Proposal</span>
                                </a>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</div>





<!-- Team Members-->

<div id="Team">
    <div data-grid="col-12" class="m-area-heading">
        <h2 class="c-heading">Our Team</h2>
        <p>The heart of our Community</p>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/sangeeth.jpg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Sangeeth Sudheer</h5>
                <p class="c-subheading">President</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Pratik Khandelwal</h5>
                <p class="c-subheading">Head of Technical Affairs & MS Technologies</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/manmeet.jpeg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Manmeet Tarun</h5>
                <p class="c-subheading">Head of Human Resoueces & Management</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/dhairya.jpeg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Dhairya Gangwani</h5>
                <p class="c-subheading">Head of Marketting</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/saksham.jpg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Saksham Sharma</h5>
                <p class="c-subheading">Projects Head</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/anuranjan.jpg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Anuranjan Srivastava</h5>
                <p class="c-subheading">Design Head</p>
            </div>
        </div>
    </div>

    <div data-grid="col-4" class="m-rich-content-block">
        <div class="m-persona-2">
            <div>
                <picture role="img" aria-label="Microsoft profile picture">
                    <img class="c-image f-round" src="~/images/Board/aadithya.jpeg" alt="Microsoft profile picture" id="personaSize1">
                </picture>
            </div>
            <div>
                <h5 class="c-heading">Aadithya Varma</h5>
                <p class="c-subheading">Android Development Core Lead</p>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Banner -->
@*<div data-grid="col-12" class="m-rich-heading f-image">
        <picture class="c-image">
            <source srcset="~/images/xbox.jpg" media="(min-width: 1779px)">
            <source srcset="~/images/xbox.jpg" media="(min-width:1400px)">
            <source srcset="~/images/xbox.jpg" media="(min-width:1084px)">
            <source srcset="~/images/xbox.jpg" media="(min-width:768px)">
            <source srcset="~/images/xbox.jpg" media="(min-width:540px)">
            <source srcset="~/images/xbox.jpg" media="(min-width:0)">
            <img srcset="~/images/xbox.jpg" src="~/images/xbox.jpg" alt="Placeholder with dark grey background">
        </picture>
        <div>
            <h3 class="c-heading">Subscribe with Us</h3>
            <p class="c-paragraph-3">We conduct several workshops bla bla bla somerandomtext  will come here </p>
        </div>
    </div>*@



<!-- Events -->
<div data-grid="container">
    <div data-grid="col-12" class="m-area-heading" id="Events">
        <h2 class="c-heading">Our Events</h2>
        <p>Stay tuned with us for more exciting events ;)</p>
    </div>

    <section class="m-feature f-align-left f-set-ratio theme-light">
        <picture>
            <source srcset="~/images/languages.svg" media="(min-width: 1400px)">
            <source srcset="~/images/languages.svg" media="(min-width: 1084px)">
            <source srcset="~/images/languages.svg" media="(min-width: 768px)">
            <source srcset="~/images/languages.svg" media="(min-width: 540px)">
            <source srcset="~/images/languages.svg" media="(min-width:0)">
            <img srcset="~/images/languages.svg" src="~/images/languages.svg" style="margin-top:50px" alt="Getting Started">
        </picture>
        <div>
            <strong class="c-badge f-small f-highlight">Free Workshop</strong>
            <h2 class="c-heading">Getting Started with C# & .Net </h2>
            <p class="c-paragraph">
                Are you still wondering which programming language to stick to? 🤔 <br />
                Are you still unsure about which platform you should be working on? 😞 <br />
                Do you want to see what the future has in store for you? 🤩 <br /><br />

                Then look nowhere else and attend our FREE session giving you a bird's-eye-view of the Microsoft stack powered by Visual Studio and C#.<br />
                Also, you get a peek at the Quantum Computing future that's going to revolutionize the world in the coming years.
            </p>
            <a href="http://bit.ly/2qYRkAG" target="_blank" class="c-call-to-action c-glyph">
                <span>Subscribe with us</span>
            </a>
        </div>
    </section>
</div>


<!--Contact Us-->

<div id="Contact">
    <section data-grid="col-12" class="m-highlight-feature f-align-left" itemscope itemtype="https://schema.org/Product">
        <picture class="c-image">
            <source srcset="~/images/B2.jpg" media="(min-width: 1779px)">
            <source srcset="~/images/B2.jpg" media="(min-width:1400px)">
            <source srcset="~/images/B2.jpg" media="(min-width:1084px)">
            <source srcset="~/images/B2.jpg" media="(min-width:768px)">
            <source srcset="~/images/B2.jpg" media="(min-width:540px)">
            <source srcset="~/images/B2.jpg" media="(min-width:0)">
            <img srcset="~/images/B2.jpg" src="~/images/B2.jpg" alt="Placeholder with grey background and dimension watermark without any imagery">
        </picture>
        <div>
            <h2 class="c-heading">Contact us</h2>

            <div class="form">
                <div id="errormessage"></div>

                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" style="width: 300px;min-width:268px; max-width:250px; height:50px;min-height:50px;max-height:50px;" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>

                <button name="button" type="submit" class="c-button f-primary">Submit</button>
            </div>


        </div>
    </section>
</div>





