@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <!--Landing Page-->
    <div class="row fullsection" id="section1">
        <div id="sexy-tagline" class="animate rollIn">We welcome you to Innovate</div>
    </div>
    <!--About US-->
    <div class="container-fluid padman">
        <div class="row bar" id="section2">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-justify heading">
                                    ABOUT US
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <article class="text-justify light-content" style="font-size:1.3em;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 d-none d-lg-block d-xl-block">
                        <img src="https://dummyimage.com/250x250/000/fff" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Our Events-->
    <div class="container-fluid padman" id="ourevents">
        <div class="row bar">
            <div class="col-12">
                <p class="heading">
                    What We Do
                </p>
            </div>
            <!-- crazyaccordian -->
            <div class="row">
                <div class="col-lg-12" style="padding-left: 7px; padding-right:7px;">
                    <div class="accordion">
                        <ul>
                            <li>
                                <div>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#"></h2>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Get in touch-->
    <div class="row align-items-center bar" style="background-color:black;">
        <div class="offset-lg-1  col-lg-8 col-md-12 col-sm-12">
            <p class="blackbar">Interested in working together?</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <button type="button" class="btn btn-outline-light btn-lg" id="barbtn">Get in touch</button>
        </div>
    </div>
    <!--Our Team-->
    <div class="row bar">
        <div class="container-fluid padman">
            <div class="row">
                <div class="col-12 text-center ">
                    <h1 class="heading">Our Team</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
                <div class="col-md-4 col-6 text-center spaces">
                    <img src="~/images/image.png" class="img-fluid rounded profpic">
                    <div class="label1 light-content">Name Goes Here</div>
                    <p class="label2 light-content font-italic">Community Head</p>
                </div>
            </div>
        </div>
    </div>
</div>