@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="c-carousel f-multi-slide" role="region" aria-label="Label">
        <div class="c-sequence-indicator" role="tablist">
            <button role="tab" aria-selected="true" aria-label="View default align top" aria-controls="default-align-top" title="default-align-top"></button>
            <button role="tab" aria-selected="false" aria-label="View default align bottom" aria-controls="default-align-bottom" title="default-align-bottom"></button>
            <button role="tab" aria-selected="false" aria-label="View no image align top" aria-controls="no-image-align-top" title="no-image-align-top"></button>
            <button role="tab" aria-selected="false" aria-label="View no image align bottom" aria-controls="no-image-align-bottom" title="no-image-align-bottom"></button>
        </div>
        <button class="c-flipper f-previous f-large" aria-hidden="true" tabindex="-1"></button>
        <button class="c-flipper f-next f-large" aria-hidden="true" tabindex="-1"></button>
        <div itemscope itemtype="http://schema.org/ItemList">
            <ul>
                <li id="default-align-bottom" data-f-theme="light">
                    <section class="m-immersive-hero-item theme-light f-align-bottom">
                        @*<picture class="c-image">
                        <source srcset="http://placehold.it/2400x1600" media="(min-width: 1779px)">
                        <source srcset="http://placehold.it/1778x1185" media="(min-width:1400px)">
                        <source srcset="http://placehold.it/1399x931" media="(min-width:1084px)">
                        <source srcset="http://placehold.it/1083x1805" media="(min-width:768px)">
                        <source srcset="http://placehold.it/768x1280" media="(min-width:540px)">
                        <source srcset="http://placehold.it/539x898" media="(min-width:0)">
                        <img srcset="http://placehold.it/1399x931" src="http://placehold.it/1399x931" alt="Microsoft Technical Community">
                    </picture>*@
                        <div>
                            <picture class="c-image">
                                <source srcset="~/images/logoms.png" media="(min-width: 1779px)">
                                <source srcset="~/images/logoms.png" media="(min-width:1400px)">
                                <source srcset="~/images/logoms.png" media="(min-width:1084px)">
                                <source srcset="~/images/logoms.png" media="(min-width:768px)">
                                <source srcset="~/images/logoms.png" media="(min-width:540px)">
                                <source srcset="~/images/logoms.png" media="(min-width:0)">
                                <img srcset="~/images/logoms.png" src="~/images/logoms.png" alt="Microsoft image">
                            </picture>
                            <div>
                                <h1 class="c-heading">Microsoft Technical Community</h1>
                                <p class="c-subheading">Microsoft Innovation Center</p>
                                <a href="#" class="c-call-to-action c-glyph" aria-label="More verbose call to action text">
                                    <span>Know More</span>
                                </a>
                            </div>
                        </div>
                    </section>
                </li>

                <li id="default-align-bottom" data-f-theme="light">
                    <section class="m-immersive-hero-item theme-light f-align-bottom">
                        @*<picture class="c-image">
                        <source srcset="~/images/holo.png" media="(min-width:1779px)">
                        <source srcset="~/images/holo.png" media="(min-width:1084px)">
                        <source srcset="~/images/holo.png" media="(min-width:768px)">
                        <source srcset="~/images/holo.png" media="(min-width:540px)">
                        <source srcset="~/images/holo.png" media="(min-width:0)">
                        <img srcset="~/images/holo.png" src="~/images/holo.png" alt="Microsoft Technical Community">
                    </picture>*@
                        <div>
                            <picture class="c-image">
                                <source srcset="~/images/holo.png" media="(min-width:1779px)">
                                <source srcset="~/images/holo.png" media="(min-width:1084px)">
                                <source srcset="~/images/holo.png" media="(min-width:768px)">
                                <source srcset="~/images/holo.png" media="(min-width:540px)">
                                <source srcset="~/images/holo.png" media="(min-width:0)">
                                <img srcset="~/images/holo.png" src="~/images/holo.png" alt="Microsoft Technical Community">
                            </picture>
                            <div>
                                <h1 class="c-heading">
                                    Have innovative ideas?
                                </h1>
                                <p class="c-subheading">Do projects with Microsoft Innovation Center</p>
                                <a href="#" class="c-call-to-action c-glyph" aria-label="More verbose call to action text">
                                    <span>Project Proposal</span>
                                </a>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
    </div>



<!-- Team Members-->

<div data-grid="col-12" class="m-area-heading">
    <h2 class="c-heading">Our Team</h2>
    <p>The heart of out Community</p>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>

<div data-grid="col-4" class="m-rich-content-block">
    <div class="m-persona-2">
        <div>
            <picture role="img" aria-label="Microsoft profile picture">
                <img class="c-image f-round" src="~/images/pratik.jpg" alt="Microsoft profile picture" id="personaSize1">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Pratik Khandelwal</h5>
            <p class="c-subheading">Technical Head</p>
        </div>
    </div>
</div>


<!--Contact Us-->


