@page
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <!--Landing Page-->
    <div class="container" id="section1">
        <div class="row text-white">
            <p class="text-center">Student Technical</p>
        </div>
        <div class="row text-white">
            <p class="text-center">Community</p>
        </div>
        <div class="row text-white">
            <p class="text-center"><b>VIT VELLORE</b></p>
        </div>
    </div>
    <!--About US-->
    <div class="container" id="aboutus">
        <div class="row">

        </div>
    </div>
    <!--Our Events-->
    <div class="container" id="ourevents">
        <div class="row">

        </div>
    </div>
    <!--Get in touch-->
    <div class="container" id="blackbar">
        <div class="row">

        </div>
    </div>
    <!--Our Team-->
    <div class="container" id="ourteam">
        <div class="row">

        </div>
    </div>
    <!--Our Blog-->
    <div class="container" id="ourblog">
        <div class="row">

        </div>
    </div>
</div>