/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Tunnz edits*/
/* General Css*/

.light-content{
    color: white;
    margin-left: 5%;
}

.light-section {
    background-color: #eeeede;
    color: #303030;
    padding: 2% 4% 2% 4%;
}

.heading {
    font-size: 2.2em;
    text-align: center;
    color: antiquewhite;
}

.heading-inverse {
    font-size: 2.2em;
    text-align: center;
    color: antiquewhite;
}

/*Section Wise*/


/*Footer*/
footer_center{
    text-align: center;
}

#section1{
    color:antiquewhite;
    text-align:center;
    height: 80vh;
    font-size: 3.5em;
}

#section2{
    margin-top: 10vh;
}

.blackbar{
    font-size: 1.5em;
    color: antiquewhite;
    margin-top:1em;
    margin-bottom: 1em;
}

#barbtn{
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#blogbtn{
    margin-top: 1em;
}


/*Media queries*/
@media screen and (max-width: 950px) {
    #barbtn {
        margin-left: 30%;
        margin-top: 0.2em;
    }
    .blackbar{
        padding-left:1em;
        text-align:center;
    }
}
