/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#mstcfooter{
    background-color: black !important;
    height: 140px !important;
    padding: 20px 25px 20px 20px !important;
    margin-bottom: 0px !important;
}

.footerform{
    background-color:black !important;
    margin-top:5px;
}

#mainbartop{
    background-color:transparent;
}

#section1{
    color:antiquewhite;
    text-align:center;
    height: 60vh;
    font-size: 3.5em;
}

.light-section{
    background-color: #eeeede;
    color: #303030;
    padding: 2% 4% 2% 4%;
}

.heading{
    font-size: 2.2em;
    text-align: center;
}

.heading-inverse {
    font-size: 2.2em;
    text-align: center;
    color: antiquewhite;
}

.blackbar{
    font-size: 1.5em;
    color: antiquewhite;
    margin-top:1em;
    margin-bottom: 1em;
}

#barbtn{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
